doctype 
html(lang="en")
    include includes/head.pug
      
    body
      
      include includes/navbar.pug

      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum iste facilis nulla iusto cupiditate natus temporibus mollitia, atque alias nostrum adipisci rem molestiae inventore explicabo neque voluptatibus ab beatae minima.

      
      include includes/footer.pug

      script(src="/js/main.js")         
